.App {
  height: 100vh;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: relative;
  /*Background stuff - makes parallax*/
  background: linear-gradient(to bottom,rgba(0,0,0,0.7), rgba(0,0,0, 0.9)),url(../assets/musicbackground.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;

  .formContainer {
    width: 100%;
    min-height: 100%;
    display: flex;

    .container {
      width: 80%;
      min-height: 80%;
      background-color: rgb(73, 0, 95);
      margin: auto;
      margin-top: 50px;
      color: white;
      padding: 10px;
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
      }

      input, button {
        text-align: center;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 10px;
        outline: none;
        padding: 10px;
        min-width: 100px;
        text-align: center;
        color: white;
        align-items: center;
      }

      button {
        border-radius: 50px;
        font-size: 18px;
        background-color: white;
        color: rgb(73, 0, 95);
        margin-top: 30px;
      }

      input::placeholder {
        color: rgb(196, 196, 196);
      }
    }
  }
}